body
{
	background-image: url(http://localhost/images/2010_P_DSC00692.jpg);
	background-size: 100%;
	background-repeat: y-repeat;
}

footer
{
	background-color: #ff3300;
	text-align: center;
	margin: 15px 40% 0 40%;
	padding: 3px;
	border-radius: 0 0 4px 4px;
}

a
{
	text-decoration: none;
	color: black;
}

.elemPanel
{
	display: inline-block;
	margin: 5px;
	padding: 5px;
	border-radius: 4px 4px 0 0;
	font-weight: 600;
}

.elemPanel:hover
{
	background-color: yellow;
	text-shadow: 0 0 10px black;
}

#gerb
{
	width: 10%;
	position: absolute;
	margin-left: 3%;
}

#spanel
{
	background-color: #4d94ff;
	text-align: center;
	margin: 3% 20% 0 20%;
	border-radius: 4px 4px 0 0;
}

.main
{
	background-color: #ffcc99;
	margin: 3% 20% 1% 20%;
	border-radius: 4px ;
}

.mainPart
{
	padding: 5px;
	text-align: center;
}

#list
{
	padding-left: 5%;
}

.infPanel
{
	position: relative;
	background-color: #ff9933;
	text-shadow: 0 0 10px black;
	font-weight: 700;
	top: 5px;
	margin-bottom: 10px;
	text-align: left;
	padding: 4px 0 4px 5%;
	font-size: 25px;
}

.foto
{
	border-radius: 5%;
}

.fotok
{
	max-width: 220px;
	max-height: 180px;
	border-radius: 5%;
}

.fotoE
{
	width: 25%;
	border-radius: 10%;
	margin: 0 12px 5px 12px;
}

#fotoM
{
	width: 60%;
	border-radius: 2%;
	box-shadow: 0 0 10px black;
}

.dataKont
{
	display: inline-block;
	margin: 0 0 0 30px;
	vertical-align: middle;
}

div.img 
{
    margin: 10px;
    border: 1px solid #ffcc99;
    float: left;
    width: 155px;
	height: 330px;
	text-align: center;
}	

div.img:hover 
{
    border: 1px solid #777;
}

div.img img
 {
    width: 155px;
    height: auto;

}

div.desc 
{
    text-align: center;
	padding:5px;
}

span.nameF
{
	font-weight: 600;
}

span.position
{
	font-size: 12pt;
}

#nameZ
{
	font-weight: 600;
	font-size: 18pt;
	text-decoration: underline;
}

#list
{
	text-align: left;
}

.dataKont a
{
	target: _blank;
	
}

.dataKont a:hover
{
	text-decoration: underline;
}


#myBtn {
	  background-image:url(http://localhost/images/upBtn.png);
	  background-size: cover;
	  display: none;
	  position: fixed;
	  bottom: 20px;
	  right: 30px;
	  z-index: 99;
	  background-color: #ffcc99;
	  cursor: pointer;
	  padding: 35px;
	  border-radius: 10px;
	  
}

#myBtn:hover {
  background-color: white;
}


#txtWriter
{
	font-weight: 700;
	color: red;
	font-size: 30px;
	
	}
